/*
	blue : #0074D9;
	olive: #3D9970 ;
	white: #FFF;
	black: rgb(17,17,17);
*/

/* SECTION: font size */
html {
 	-ms-text-size-adjust:100%;
 	-webkit-text-size-adjust:100%;
 	line-height: 1.5;
}
html { font-size:calc(100%); }
@media (min-width:900px) {
html { font-size:calc(125%); }
}

li > span { font-size: 1rem; }

html, body { min-height: 100vh; }
body {
	padding: 0;
	margin:  0;

	display: flex;
	flex-direction: column;
	align-items: center;

    font-family: 'Inconsolata', monospace;
	font-size: 1rem;
}

h1 { margin: 0; padding: 0; font-size: 1.5rem; }
h2 { margin: 0; padding: 0; font-size: 1.25rem; }
h1 {
	color: #FFF;
	background: #0074D9;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
}

span { font-size: 0.80rem; }
.right { float: right; }
h1,h2 { font-family: 'Inconsolata', monospace; }

.container {
	width: 100%;
}

.content {
	max-width: 800px;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

/* SECTION: jumbo */

.jumbo {
	margin:  0;
	padding: 0;
	width: 100%;
	height: calc(200px + 10vw);
	overflow: hidden;
}

.jumbo > img {
	width: inherit;
	height: inherit;
	object-fit: cover;
	-webkit-transition: transform 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	transition:         transform 2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.jumbo > img:hover {
	-webkit-transform:  scale(1.5);
	transform:          scale(1.5);

}

@media only screen
and (max-width : 480px) {
	.jumbo { height: 200px;  }
}

/* SECTION: nav */

nav {
	max-width: 800px;
	margin: 0 auto;

	padding: 1em;
	display: flex;
}

nav a {
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    margin-right: 1em;
    color: rgb(17, 17, 17);
}

.nav-right {
	flex-grow: 100;
	text-align: right;
}

.nav-active {
	color: #0074D9;
}

nav a:last-child {
	margin-right: 0em;
}

/* SECTION: footer */
footer {
	padding: 1em;
	margin-top: auto;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer > p {
	padding: 0;
	margin:  0;
	font-weight: bold;
	font-size: 0.85rem;
	color: #0074D9;
}

/* SECTION: gear */

.gear-list {

}

.gear-list > section {
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 1rem;
}

.gear-list ul {
	margin: 0;
	list-style: none;
	padding-left: 1rem;
}

.gear-list ul p { display: inline; margin: 0; padding: 0; }

/* SECTION: gallery */

section.gallery { margin-top: 1rem; }
.section-header > * {
	display: inline;
}
.section-header > a { text-decoration: none; }
.section-header > a:hover { text-decoration: underline; }
section.gallery > img {
 	width: 100%;
 	transition: opacity 1s ease;
}

button.load {
	border: none;
    font-family: 'Inconsolata', monospace;
    display: inline-block;
    transition: background-color 0.2s ease;
    padding: 0.2rem;
    font-size: 1rem;
}
button.load:hover { background: #0074D9; color: #FFF; cursor: pointer; }
button.load:active {
	margin-bottom: -2px;
}
.faded { opacity: 0; transition: opacity 0s ease !important; }